<header class="">
    <div class="">
      <nav class="flex flex-row justify-between h-20 items-center bg-black pl-4 pr-4 text-white">
        <a href="/">
          <span class="text-3xl t-color-white font-bold">
            TASHFASH
          </span>
        </a>
        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span></span>
        </button>
        <div id="navbarSupportedContent">
          <div>
            <ul class="flex flex-row gap-10">
              <li>
                <a class="text-color-white" href="/">Home </a>
              </li>
              <li>
                <a href="about.html"> About Us </a>
              </li>
              <li>
                <a href="shop.html"> Shop </a>
              </li>
              <li>
                <a href="glass.html"> Glasses </a>
              </li>
              <li>
                <a href="contact.html">Contact us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>